/* EAS color palette */
:root {
    --eas-main: #2b2c30;
    --eas-bg: #F3F3F3;
    --eas-ui-accent: #359eff;
    --eas-accent: #0f8bff;
    --eas-accent-gradient: #ff007b;
    --eas-bg-grid: #FFFFFF;
}
/* EAS main styiling | CSS Reset */
body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: var(--eas-bg);
}
h1{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}
a{
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    color: inherit;
    text-decoration: inherit;
}
button, input[type='color']{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    -webkit-appearance: none;
}
input[type='color']{
    width: 30px;
    height: 30px;
    display: block;
}

/* EAS styling */
.eas-body{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1em;
    font-family: 'Lato', sans-serif, Arial, Helvetica;
    height: 100vh;
    align-items: center;
}
.eas-flex{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.eas-label-title{
    background-color: var(--eas-main);
    padding: 1.5em 2em 1em 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px 1em;
}
.eas-title{
    background: linear-gradient(to right, var(--eas-accent-gradient), var(--eas-accent));
    -webkit-background-clip: text;
    background-size: 100%;
    background-clip: text;
    color: rgba(255, 255, 255, 0.2); 
}
.eas-footer{
    justify-content: space-around;
    align-self: stretch;
    flex-wrap: wrap;
}
.eas-tooltip{
    flex: 1;
    color: var(--eas-main);
    padding: 1em;
}
.eas-tooltip > p{
    font-weight: 300;
    margin-bottom: 7px;
    font-size: 1.3rem;
    min-width: 200px;
}
.eas-notice{
    background-color: var(--eas-main);
    color: var(--eas-bg);
    align-self: end;
    padding: 1em 1.5em 1em 1.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-wrap: nowrap;
    column-gap: 4px;
    font-weight: 300;
    margin: 0em 1em;
    min-width: 205px;
}
.eas-labels{
    column-gap: 1em;
    row-gap: 6px;
    display: flex;
    flex-wrap: wrap;
}
.eas-label{
    display: flex;
    border-width: 2px;
    border-color: var(--eas-main);
    border-style: solid;
    border-radius: 8px;
    padding: 0.3em 0.8em;
    min-width: 100px;
}
.eas-i{
    margin-left: 3px;
}
.eas-main{
    flex: 1;
    padding-top: 1em;
    display: flex;
    flex-flow: row wrap;
    column-gap: 2em;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
}
.eas-grid{
    display: grid;
    display: -ms-grid;
    width: 500px;
    height: 500px;
}
@media (min-width: 1000px) and (min-height: 800px) {
  .eas-grid {
    width: 600px;
    height: 600px;
  }
}
@media (max-height: 550px){
  .eas-grid {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 500px) {
  .eas-grid {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 450px) {
  .eas-grid {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 400px) {
  .eas-grid {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 350px) {
  .eas-grid {
    width: 300px;
    height: 300px;
  }
}

.eas-card{
    width: 250px;
}
.eas-config{
    background-color: var(--eas-bg-grid);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0px;
    padding: 0.2em 1.2em;
    min-width: 212px;
}
.eas-configtext{
    margin-top: 25px;
}
.eas-configtext > p{
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 6px;
}
.eas-configtext > h3{
    font-weight: 400;
    font-size: 1.2rem;
}
.eas-buttons{
    display: flex;
    font-weight: 300;
    font-size: 1.2rem;
    gap: 5px;
    padding: 0.5em;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--eas-main);
    border-width: 2px;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0em;
    transition: 0.5s;
}
.eas-buttons:hover{
    background: var(--eas-main);
    color: var(--eas-bg);
}
.eas-configlist-item:hover{
    background: var(--eas-main);
    color: var(--eas-bg);
}
.eas-configlist-item:hover > .eas-configlist-chevron{
    background: var(--eas-main);
}
.eas-configlist-item-first{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.eas-configlist-item-third{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.eas-configlist{
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5em 0em;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--eas-main);
    border-width: 2px;
}
.eas-configlist-item{
    display: flex;
    font-weight: 300;
    font-size: 1.2rem;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0px;
    column-gap: 10px;
}
.eas-configlist-icon{
    padding-left: 0.2em;
    /*padding-left: 0.5em;
    margin-left: 7px;*/
}
.eas-barlist{
    background-color: var(--eas-main);
    height: 1px;
}
.eas-configlist-chevron{
    background: var(--eas-bg-grid);
    height: 1em;
    width: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.eas-sizing{
    margin: 0.5em 0em;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--eas-main);
    border-width: 2px;
    padding: 0.5em;
}
.eas-size{
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
}